{% load static %}

<html>

<!--background audio-->
<title>Game Over</title>

<audio autoplay="autoplay" loop="true">
    <source src="/static/music3.mp3"/>
</audio>


<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/stars.css' %}" rel="stylesheet">


</head>
<body class="hidden">
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
		
  		<span>
    		CONGRATULATIONS!!
  		</span>
    <br>
    <span>
    		YOU HAVE FINISHED THE CHALLENGE!!
        <span>
        <a href="{% url 'logout' %}"><small>LOGOUT</small></a></span>
  		</span>


</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('div.hidden').fadeIn(50000).removeClass('hidden');
    });
</script>
</html>
